:root {
  --main-color: #444;
}

h1 {
  padding-top: 1rem;
}
main {
  min-height: 88vh;
}
.card-img-top {
  border-radius: 3px;
}

.nav-item {
  margin-right: 0;
}

.carouselContent img {
  height: 250px;
  /* padding: 1rem; */
}

.carouselContent {
  padding: 1rem;
}

.carouselContent a {
  color: var(--main-color);
}

a:hover {
  text-decoration: none;
}

.card-img-top {
  height: 100%;
}

.pagination {
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 0;
}

.page-link {
  color: var(--main-color);
}
.page-item.active .page-link {
  background-color: var(--main-color);
  border-color: var(--main-color);
}
.page-link:focus {
  box-shadow: none;
}

.card-body {
  padding: 0;
}
.card-body p {
  margin-bottom: 0.5rem;
}
.card-title {
  margin: 0.5rem 0 0 0;
  font-size: 1rem;
}

.card-title {
  color: var(--main-color);
}

.card {
  /* box-shadow: 0 1px 3px rgb(0 0 0 / 20%); */
  box-shadow: none;
}

#searchForm input:-internal-autofill-selected {
  background-color: white;
}

#searchForm [contenteditable].form-control:focus,
[type='text'].form-control:focus {
  box-shadow: inset 0 -2px 0 var(--main-color);
}

.btn-outline-secondary {
  color: rgba(0, 0, 0, 0.5);
}
