:root {
  --main-color: #444;
}

.alert-info {
  background: #d3d3d3;
}

h1 {
  padding-top: 1rem;
}
main {
  min-height: 88vh;
}
.card-img-top {
  border-radius: 3px;
}

.img-fluid {
  border-radius: 3px;
}

.nav-item {
  margin-right: 0;
}

.carouselContent img {
  height: 250px;
  /* padding: 1rem; */
}

.carouselContent {
  padding: 1rem;
}

.carouselContent a {
  color: var(--main-color);
}

a {
  color: var(--main-color);
}

a:hover {
  text-decoration: none;
}

.pagination {
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 0;
}

.page-link {
  color: var(--main-color);
}
.page-item.active .page-link {
  background-color: var(--main-color);
  border-color: var(--main-color);
}
.page-link:focus {
  box-shadow: none;
}

.card {
  max-width: 400px;
}

.card-body {
  padding: 0;
}
.card-body p {
  margin-bottom: 0.5rem;
}
.card-title {
  margin: 0.5rem 0 0 0;
  font-size: 1rem;
}

.card-title {
  color: var(--main-color);
}

.card {
  /* box-shadow: 0 1px 3px rgb(0 0 0 / 20%); */
  box-shadow: none;
}

#searchForm input:-internal-autofill-selected {
  background-color: white;
}

[contenteditable].form-control:focus,
[type='email'].form-control:focus,
[type='password'].form-control:focus,
[type='tel'].form-control:focus,
[type='text'].form-control:focus,
input.form-control:focus,
input[type='email']:focus,
input[type='number']:focus,
input[type='password']:focus,
input[type='text']:focus,
textarea.form-control:focus,
textarea:focus {
  box-shadow: inset 0 -2px 0 var(--main-color);
}
select.form-control:focus,
select:focus {
  box-shadow: inset 0 -2px 0 var(--main-color);
}

.btn-outline-secondary {
  color: rgba(0, 0, 0, 0.5);
}

#reviewsTitleRow {
  margin-top: 15px;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
}
#reviewsTitleRow h2 {
  margin-bottom: 0;
}

#reviewsTitleRow .rating {
  display: flex;
  align-items: center;
}

.list-group-item {
  padding: 12px 5px;
}

#reviewSubtitle {
  padding-left: 12px;
}
#reviewSubtitle p {
  padding-left: 20px;
}

#newReviewTitle {
  padding: 0.5rem;
}

.borderless-top {
  border-top: none;
}
.borderless-bottom {
  border-bottom: none;
}

#addToCartButtonContainer {
  padding: 12px;
}

.alert-danger {
  background: rgba(196, 65, 65, 0.644);
}
