:root {
  --main-color: #444;
}

h1 {
  padding-top: 1rem;
}
main {
  min-height: 80vh;
}
.card-img-top {
  border-radius: 3px;
}

.nav-item {
  margin-right: 0;
}

#topProductCarousel,
img {
  height: 250px;
  /* padding: 1rem; */
}

carouselContent {
  padding: 1rem;
}

#topProductCarousel,
a {
  color: var(--main-color);
}

a:hover {
  text-decoration: none;
}
